<div class="container-fluid">
  <div class="container">
    <div class="row text-center justify-content-evenly">
      <div class="col-md-4 col-sm-4 col-xs-4 pt-5 text-center text-light">
        <h1 class="h1 mt-4 ">Welcome to Chat Application</h1>
        <p class="h6">Connect with your friends and family instantly.</p>
        <p class="mt-3 ">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
          blanditiis vitae tempora placeat soluta
        </p>
        <button class="btn btn-primary p-3 mt-3 shadow" routerLink="login">Get Started</button>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-6 order-first text-center">
        <img
          src="../../../assets/giphy.gif"
          alt=""
          width="300px"
         
        />
      
      </div>
    </div>
  </div>
</div>
